In [4]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

In [5]:
file = 'for_udit.txt'
data = pd.read_csv(file, skiprows = 1, index_col = False)

In [6]:
data.columns = ['REGION', 'YEAR', 'WEEK', 'TOTAL PATIENTS']

In [7]:
data_2013 = data[data['YEAR'] == 2013]

In [8]:
data_2013['TOTAL PATIENTS'] = data_2013['TOTAL PATIENTS'].astype(int)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
data_2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2717 entries, 6030 to 8746
Data columns (total 4 columns):
REGION            2717 non-null object
YEAR              2717 non-null int64
WEEK              2717 non-null int64
TOTAL PATIENTS    2717 non-null int64
dtypes: int64(3), object(1)
memory usage: 106.1+ KB

In [10]:
i = 1
month1_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [11]:
i = 2
month2_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [12]:
i = 3
month3_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [13]:
i = 4
month4_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [14]:
i = 5
month5_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [15]:
i = 6
month6_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [16]:
i = 7
month7_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [17]:
i = 8
month8_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [18]:
i = 9
month9_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [19]:
i = 10
month10_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [20]:
i = 11
month11_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [21]:
i = 12
month12_2013 = data_2013[np.logical_and(data_2013['WEEK'] >= (4 * i - 3), data_2013['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [22]:
frames = [month1_2013, month2_2013, month3_2013, month4_2013, month5_2013, month6_2013, month7_2013, month8_2013, month9_2013, month10_2013, month11_2013, month12_2013]
result = pd.concat(frames)
result.reset_index(level=0, inplace=True)

In [23]:
result2013 = result

In [24]:
data_2014 = data[data['YEAR'] == 2014]

In [25]:
data_2014['TOTAL PATIENTS'] = data_2014['TOTAL PATIENTS'].astype(int)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
data_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2809 entries, 8747 to 11555
Data columns (total 4 columns):
REGION            2809 non-null object
YEAR              2809 non-null int64
WEEK              2809 non-null int64
TOTAL PATIENTS    2809 non-null int64
dtypes: int64(3), object(1)
memory usage: 109.7+ KB

In [27]:
i = 1
month1_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 2
month2_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 3
month3_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 4
month4_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 5
month5_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 6
month6_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 7
month7_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 8
month8_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 9
month9_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 10
month10_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 11
month11_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 12
month12_2014 = data_2014[np.logical_and(data_2014['WEEK'] >= (4 * i - 3), data_2014['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [28]:
frames = [month1_2014, month2_2014, month3_2014, month4_2014, month5_2014, month6_2014, month7_2014, month8_2014, month9_2014, month10_2014, month11_2014, month12_2014]
result = pd.concat(frames)
result.reset_index(level=0, inplace=True)

In [29]:
result2014 = result

In [30]:
data_2015 = data[data['YEAR'] == 2015]

In [31]:
data_2015['TOTAL PATIENTS'] = data_2015['TOTAL PATIENTS'].astype(int)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
data_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2756 entries, 11556 to 14311
Data columns (total 4 columns):
REGION            2756 non-null object
YEAR              2756 non-null int64
WEEK              2756 non-null int64
TOTAL PATIENTS    2756 non-null int64
dtypes: int64(3), object(1)
memory usage: 107.7+ KB

In [33]:
i = 1
month1_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 2
month2_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 3
month3_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 4
month4_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 5
month5_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 6
month6_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 7
month7_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 8
month8_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 9
month9_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 10
month10_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 11
month11_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 12
month12_2015 = data_2015[np.logical_and(data_2015['WEEK'] >= (4 * i - 3), data_2015['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [34]:
frames = [month1_2015, month2_2015, month3_2015, month4_2015, month5_2015, month6_2015, month7_2015, month8_2015, month9_2015, month10_2015, month11_2015, month12_2015]
result = pd.concat(frames)
result.reset_index(level=0, inplace=True)

In [35]:
result2015 = result

In [36]:
data_2016 = data[data['YEAR'] == 2016]

In [37]:
data_2016['TOTAL PATIENTS'] = data_2016['TOTAL PATIENTS'].astype(int)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2756 entries, 14312 to 17067
Data columns (total 4 columns):
REGION            2756 non-null object
YEAR              2756 non-null int64
WEEK              2756 non-null int64
TOTAL PATIENTS    2756 non-null int64
dtypes: int64(3), object(1)
memory usage: 107.7+ KB

In [39]:
i = 1
month1_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 2
month2_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 3
month3_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 4
month4_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 5
month5_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 6
month6_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 7
month7_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 8
month8_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 9
month9_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 10
month10_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 11
month11_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 12
month12_2016 = data_2016[np.logical_and(data_2016['WEEK'] >= (4 * i - 3), data_2016['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [40]:
frames = [month1_2016, month2_2016, month3_2016, month4_2016, month5_2016, month6_2016, month7_2016, month8_2016, month9_2016, month10_2016, month11_2016, month12_2016]
result = pd.concat(frames)
result.reset_index(level=0, inplace=True)

In [41]:
result2016 = result

In [42]:
data_2017 = data[data['YEAR'] == 2017]

In [43]:
data_2017['TOTAL PATIENTS'] = data_2017['TOTAL PATIENTS'].astype(int)
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2756 entries, 17068 to 19823
Data columns (total 4 columns):
REGION            2756 non-null object
YEAR              2756 non-null int64
WEEK              2756 non-null int64
TOTAL PATIENTS    2756 non-null int64
dtypes: int64(3), object(1)
memory usage: 107.7+ KB

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
i = 1
month1_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 2
month2_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 3
month3_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 4
month4_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 5
month5_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 6
month6_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 7
month7_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 8
month8_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 9
month9_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 10
month10_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 11
month11_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

i = 12
month12_2017 = data_2017[np.logical_and(data_2017['WEEK'] >= (4 * i - 3), data_2017['WEEK'] <= (4 * i))].groupby(['REGION']).sum().drop(['YEAR', 'WEEK'], axis=1).assign(MONTH=i)

In [45]:
frames = [month1_2017, month2_2017, month3_2017, month4_2017, month5_2017, month6_2017, month7_2017, month8_2017, month9_2017, month10_2017, month11_2017, month12_2017]
result = pd.concat(frames)
result.reset_index(level=0, inplace=True)

In [46]:
result2017 = result

In [47]:
frames = [result2013, result2014, result2015, result2016, result2017]
result = pd.concat(frames)

In [49]:
result

                   REGION  TOTAL PATIENTS  MONTH
0                 Alabama           51771      1
1                  Alaska            8336      1
2                 Arizona           84429      1
3                Arkansas           18009      1
4              California          126977      1
5                Colorado           87979      1
6             Connecticut           16335      1
7                Delaware           11022      1
8    District of Columbia            6937      1
9                 Georgia          101404      1
10                 Hawaii           50381      1
11                  Idaho           18492      1
12               Illinois          172178      1
13                Indiana           40851      1
14                   Iowa           11783      1
15                 Kansas           32276      1
16               Kentucky           83244      1
17              Louisiana          122253      1
18                  Maine           26136      1
19               Maryland           32735      1
20          Massachusetts          109599      1
21               Michigan           63079      1
22              Minnesota           17771      1
23            Mississippi           68096      1
24               Missouri           31848      1
25                Montana            9291      1
26               Nebraska           16693      1
27                 Nevada           61410      1
28          New Hampshire           17829      1
29             New Jersey           26701      1
..                    ...             ...    ...
606           Mississippi           76877     12
607              Missouri           26305     12
608               Montana           12572     12
609              Nebraska           32787     12
610                Nevada           73518     12
611         New Hampshire           12243     12
612            New Jersey          102067     12
613            New Mexico           81882     12
614              New York           52541     12
615         New York City          403858     12
616        North Carolina           65771     12
617          North Dakota            5350     12
618                  Ohio           80100     12
619              Oklahoma           34455     12
620                Oregon          144726     12
621          Pennsylvania          246865     12
622           Puerto Rico            9442     12
623          Rhode Island           21617     12
624        South Carolina           24823     12
625          South Dakota           41500     12
626             Tennessee           36626     12
627                 Texas          112719     12
628                  Utah           85744     12
629               Vermont           11009     12
630        Virgin Islands            2977     12
631              Virginia          358130     12
632            Washington           32645     12
633         West Virginia           48941     12
634             Wisconsin           21793     12
635               Wyoming           16688     12

[3171 rows x 3 columns]

In [48]:
np.savetxt('health_data.txt', result, fmt="%s, %d, %d")