In [216]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [217]:
data = 'datasets/precipitation.csv'
full_data = pd.read_csv(data, skiprows=(203738, 233415, 423979), index_col=False)

In [218]:
full_data.columns

Index(['org_name', ' site_name', ' latitude', ' longitude', ' elevation',
       ' measured_on', ' precipitations:measured at',
       'precipitations:days accumulated', 'precipitations:solar noon at',
       'precipitations:solar measured at',
       'precipitations:snowfall accumulation',
       'precipitations:snowfall accumulation flag',
       'precipitations:liquid accumulation',
       'precipitations:liquid accumulation flag', 'precipitations:ph',
       'precipitations:ph method', 'precipitations:occurrence type',
       'precipitations:comments', 'precipitations:vis rain depth',
       'precipitations:vis snow depth',
       'precipitations:vis total liquid equivalent'],
      dtype='object')

In [219]:
print(full_data.head())
print(full_data.shape)

                               org_name                  site_name   latitude  \
0  2nd Arsakeio-Tositseio lyceum Ekalis  School Arsakeio Drosia-CC    38.1198
1  2nd Arsakeio-Tositseio lyceum Ekalis  School Arsakeio Drosia-CC    38.1198
2  2nd Arsakeio-Tositseio lyceum Ekalis  School Arsakeio Drosia-CC    38.1198
3  2nd Arsakeio-Tositseio lyceum Ekalis  School Arsakeio Drosia-CC    38.1198
4  2nd Arsakeio-Tositseio lyceum Ekalis  School Arsakeio Drosia-CC    38.1198

    longitude   elevation  measured_on  precipitations:measured at  \
0     23.8661       380.6   2015-03-05         2015-03-05 10:00:00
1     23.8661       380.6   2015-03-06         2015-03-06 10:00:00
2     23.8661       380.6   2015-03-07         2015-03-07 10:00:00
3     23.8661       380.6   2015-03-08         2015-03-08 10:00:00
4     23.8661       380.6   2015-03-09         2015-03-09 10:00:00

   precipitations:days accumulated precipitations:solar noon at  \
0                                1          2015-03-05 10:36:00
1                                1          2015-03-06 10:35:00
2                                1          2015-03-07 10:35:00
3                                1          2015-03-08 10:35:00
4                                1          2015-03-09 10:35:00

  precipitations:solar measured at                    ...                      \
0              2015-03-05 11:35:00                    ...
1              2015-03-06 11:35:00                    ...
2              2015-03-07 11:35:00                    ...
3              2015-03-08 11:35:00                    ...
4              2015-03-09 11:35:00                    ...

  precipitations:snowfall accumulation flag  \
0                                      null
1                                      null
2                                      null
3                                      null
4                                      null

  precipitations:liquid accumulation precipitations:liquid accumulation flag  \
0                               0.00                                     NaN
1                               0.00                                     NaN
2                               0.00                                     NaN
3                               0.00                                     NaN
4                               0.00                                     NaN

  precipitations:ph precipitations:ph method precipitations:occurrence type  \
0              null                     null                  no occurrence
1              null                      NaN                  no occurrence
2              null                     null                  no occurrence
3              null                     null                  no occurrence
4              null                     null                  no occurrence

  precipitations:comments precipitations:vis rain depth  \
0                     NaN                          0.00
1                     NaN                          0.00
2                     NaN                          0.00
3                     NaN                          0.00
4                     NaN                          0.00

  precipitations:vis snow depth precipitations:vis total liquid equivalent
0                           0.0                                       0.00
1                           0.0                                       0.00
2                           0.0                                       0.00
3                           0.0                                       0.00
4                           0.0                                       0.00

[5 rows x 21 columns]
(443633, 21)

In [220]:
full_data.isnull().sum(axis=0)

org_name                                        4343
 site_name                                         0
 latitude                                          0
 longitude                                         0
 elevation                                         0
 measured_on                                       0
 precipitations:measured at                        0
precipitations:days accumulated                    0
precipitations:solar noon at                       0
precipitations:solar measured at                   0
precipitations:snowfall accumulation               0
precipitations:snowfall accumulation flag      34176
precipitations:liquid accumulation                 0
precipitations:liquid accumulation flag       112860
precipitations:ph                                  0
precipitations:ph method                       49562
precipitations:occurrence type                     0
precipitations:comments                       310745
precipitations:vis rain depth                      0
precipitations:vis snow depth                      0
precipitations:vis total liquid equivalent         0
dtype: int64

In [221]:
mod_data = full_data.drop(['precipitations:comments', 'precipitations:ph method', 'precipitations:liquid accumulation flag', 'org_name', 'precipitations:snowfall accumulation flag', 'precipitations:ph', full_data.columns[9], full_data.columns[13], 'precipitations:solar noon at', 'precipitations:solar measured at', 'precipitations:occurrence type'], axis=1)

In [222]:
mod_data.info()
mod_data.isnull().sum(axis=0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443633 entries, 0 to 443632
Data columns (total 12 columns):
 site_name                                    443633 non-null object
 latitude                                     443633 non-null float64
 longitude                                    443633 non-null float64
 elevation                                    443633 non-null float64
 measured_on                                  443633 non-null object
 precipitations:measured at                   443633 non-null object
precipitations:days accumulated               443633 non-null int64
precipitations:snowfall accumulation          443633 non-null object
precipitations:liquid accumulation            443633 non-null object
precipitations:vis rain depth                 443633 non-null object
precipitations:vis snow depth                 443633 non-null object
precipitations:vis total liquid equivalent    443633 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 40.6+ MB

 site_name                                    0
 latitude                                     0
 longitude                                    0
 elevation                                    0
 measured_on                                  0
 precipitations:measured at                   0
precipitations:days accumulated               0
precipitations:snowfall accumulation          0
precipitations:liquid accumulation            0
precipitations:vis rain depth                 0
precipitations:vis snow depth                 0
precipitations:vis total liquid equivalent    0
dtype: int64

In [223]:
mod_data.columns[5:15]

Index([' precipitations:measured at', 'precipitations:days accumulated',
       'precipitations:snowfall accumulation',
       'precipitations:liquid accumulation', 'precipitations:vis rain depth',
       'precipitations:vis snow depth',
       'precipitations:vis total liquid equivalent'],
      dtype='object')

In [224]:
sum(mod_data[mod_data.columns[10]] == 'null')

144825

In [227]:
mod_data.head()

,site_name,latitude,longitude,elevation,measured_on,precipitations:measured at,precipitations:days accumulated,precipitations:snowfall accumulation,precipitations:liquid accumulation,precipitations:vis rain depth,precipitations:vis snow depth,precipitations:vis total liquid equivalent
0,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-05,2015-03-05 10:00:00,1,0.0,0.00,0.00,0.0,0.00
1,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-06,2015-03-06 10:00:00,1,0.0,0.00,0.00,0.0,0.00
2,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-07,2015-03-07 10:00:00,1,0.0,0.00,0.00,0.0,0.00
3,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-08,2015-03-08 10:00:00,1,0.0,0.00,0.00,0.0,0.00
4,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-09,2015-03-09 10:00:00,1,0.0,0.00,0.00,0.0,0.00

In [231]:
for i in range(7, 12):
    print(i, sum(mod_data[mod_data.columns[i]] == 'null'))

7 140118
8 3896
9 46922
10 144825
11 17404

In [232]:
mask = np.logical_not(np.logical_or(np.logical_or(np.logical_or(mod_data[mod_data.columns[7]].values == 'null', np.logical_or(mod_data[mod_data.columns[10]].values == 'null', mod_data[mod_data.columns[11]].values == 'null') ), mod_data[mod_data.columns[8]].values == 'null'), mod_data[mod_data.columns[9]].values == 'null'))

In [233]:
final_data = mod_data[mask]

In [236]:
final_data.head()

,site_name,latitude,longitude,elevation,measured_on,precipitations:measured at,precipitations:days accumulated,precipitations:snowfall accumulation,precipitations:liquid accumulation,precipitations:vis rain depth,precipitations:vis snow depth,precipitations:vis total liquid equivalent
0,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-05,2015-03-05 10:00:00,1,0.0,0.00,0.00,0.0,0.00
1,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-06,2015-03-06 10:00:00,1,0.0,0.00,0.00,0.0,0.00
2,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-07,2015-03-07 10:00:00,1,0.0,0.00,0.00,0.0,0.00
3,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-08,2015-03-08 10:00:00,1,0.0,0.00,0.00,0.0,0.00
4,School Arsakeio Drosia-CC,38.1198,23.8661,380.6,2015-03-09,2015-03-09 10:00:00,1,0.0,0.00,0.00,0.0,0.00

In [237]:
final_data['precipitations:vis rain depth'] = final_data['precipitations:vis rain depth'].astype(float)
final_data['precipitations:vis total liquid equivalent'] = final_data['precipitations:vis total liquid equivalent'].astype(float)
final_data['precipitations:days accumulated'] = final_data['precipitations:days accumulated'].astype(float)

/Users/kaushiksrini/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/kaushiksrini/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/kaushiksrini/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [238]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282298 entries, 0 to 443632
Data columns (total 12 columns):
 site_name                                    282298 non-null object
 latitude                                     282298 non-null float64
 longitude                                    282298 non-null float64
 elevation                                    282298 non-null float64
 measured_on                                  282298 non-null object
 precipitations:measured at                   282298 non-null object
precipitations:days accumulated               282298 non-null float64
precipitations:snowfall accumulation          282298 non-null object
precipitations:liquid accumulation            282298 non-null object
precipitations:vis rain depth                 282298 non-null float64
precipitations:vis snow depth                 282298 non-null object
precipitations:vis total liquid equivalent    282298 non-null float64
dtypes: float64(6), object(6)
memory usage: 28.0+ MB

In [376]:
import os
import json
from urllib.request import urlopen

def getplace(lat, lon):
    url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=%f,%f&inputtype=textquery&fields=formatted_address&key=AIzaSyDxUPc23zoxTCWlVHsMQwlZkAaaEs4W134" % (lat, lon)
    print(url)
    v = urlopen(url).read()
    j = json.loads(v)
    components = j['results'][0]['address_components']
    state = None
    for c in components:
        if "state" in c['types']:
            state = c['long_name']
    return state

In [335]:
full_data.columns = ['org_name', 'site_name', 'latitude', 'longitude', 'elevation',
       ' measured_on', 'precipitations:measured at',
       'precipitations:days accumulated', 'precipitations:solar noon at',
       'precipitations:solar measured at',
       'precipitations:snowfall accumulation',
       'precipitations:snowfall accumulation flag',
       'precipitations:liquid accumulation',
       'precipitations:liquid accumulation flag', 'precipitations:ph',
       'precipitations:ph method', 'precipitations:occurrence type',
       'precipitations:comments', 'precipitations:vis rain depth',
       'precipitations:vis snow depth',
       'precipitations:vis total liquid equivalent']

In [379]:
final_data.describe()

,latitude,longitude,elevation,precipitations:days accumulated,precipitations:vis rain depth,precipitations:vis total liquid equivalent
count,282298.000000,282298.000000,282298.000000,282298.0,282298.000000,282298.000000
mean,40.758350,2.423946,264.766206,1.0,0.787497,0.777327
std,13.007575,49.096663,374.833190,0.0,12.065294,12.069746
min,-45.875000,-151.164470,-94.300000,1.0,-9.000000,-9.000000
25%,38.119800,4.990930,59.400000,1.0,0.000000,0.000000
50%,45.114330,15.702400,142.200000,1.0,0.000000,0.000000
75%,47.449000,19.634500,348.600000,1.0,0.000000,0.000000
max,64.762300,178.010200,4205.000000,1.0,1420.000000,1420.000000